.container,
.container-fluid {
    margin-top: 20px;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    margin: 10px 0px;
}

.post-header {
    border-bottom: 1px solid black;
    padding: 15px 0px;
}

.post-header,
.post-body {
    margin-bottom: 35px;
}

.comment-editor form button {
    margin-top: 10px;
}

.comment-editor {
    margin-bottom: 15px;
}